<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">

    <title>Home Page</title>

</head>
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th,
    td {

        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #8a8a8a;
    }

    tr:hover {
        background-color: #f1f1f1;
    }

    .list-container {
        padding: 15px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .list-user-header {
            font-size: 38px;
            font-weight: 600;
        }

        .list-user {
            font-size: 20px;

            .btn {
                width: 50px;
                height: 30px;
                color: rgb(241, 241, 241);
                font-weight: 500;
                border: 0;
                border-radius: 5px;
                cursor: pointer;
                margin-left: 5px;
            }

            .edit {
                background: rgb(255, 238, 0);
                color: black;
            }

            .delete {
                background: rgb(255, 60, 11);
            }
        }

    }
</style>

<body>
    <ul>
        <li class="activate"><a href="/">Home</a></li>
        <li><a href="/newuser">New User</a></li>
    </ul>

    <div class="list-container">
        <div class="list-user-header"> List of users</div>
        <table class="list-user">
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Name</th>
                <th>City</th>
                <th>Actions</th>
            </tr>
            <% list_users.forEach(user=> { %>
                <tr>
                    <td>
                        <%= user.id %>
                    </td>
                    <td>
                        <%= user.email %>
                    </td>
                    <td>
                        <%= user.name %>
                    </td>
                    <td>
                        <%= user.city %>
                    </td>
                    <td>
                        <a href="/update-user/<%= user.id %>"><button class="edit btn">Edit</button></a>
                        <button class="delete btn">Delete</button>
                    </td>
                </tr>
                <% }); %>





        </table>
    </div>



</body>

</html>